<h1>{{msg}}</h1>

<input type="button" value="send msg" (click)="sendMessage()"/>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Emp Id</th>
            <th>Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of employeeList">
            <td>{{e.empid}}</td>
            <td>{{e.name}}</td>
            <td>{{e.city}}</td>
        </tr>

        @for(e of employeeList;track e.empid)
        {
            <tr>
                <td>{{e.empid}}</td>
                <td>{{e.name}}</td>
                <td>{{e.city}}</td>
            </tr>
        }
    </tbody>
</table>

